main{
    overflow: hidden;
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 18em;
    margin: 0 6.25em;
}

.photograph-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.photographer_section{
    margin: 0 !important;
    width: 15em;
    text-align: start;
}

.photographer_section article{
    display: initial;
    width: 15em;
}

.photograph-header>img{
    width: 12em;
    height: 12em;
    border-radius: 100em;
    object-fit: cover;
    order: 2;
}

.contact_button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: .7em;
    width: 10.6em;
    height: 4.3em;
    border: none;
    background-color: #901C1C;
    border-radius: .3em;
    cursor: pointer;
    order: 1;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3em;
    background-color: #DB8876;
    width: 35em;
    height: 45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2.1em;
    z-index: 3;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    width: 4em;
    cursor: pointer;
}

.modal header h1{
    font-size: 3em;
    height: auto;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 2.1em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 1.6em;
}

form input, form textarea{
    width: 100%;
    height: 2.5em;
    border: none;
    border-radius: .3em;
    font-size: 1.5em;
}

form textarea{
    resize: none;
    width: 100%;
    height: initial;
}

.filtres{
    position: relative;
    display: flex;
    margin: 0 3.25em;
}

.filtres p{
    margin: 2em;
    font-size: 1.2em;
}

.filtres li:nth-child(1){
    border-bottom: none;
    z-index: 1;
}

.filtres li:nth-child(2){
    transform: translate(0, -3.5em);
    border-bottom: .05em solid white;
}

.filtres li:nth-child(3){
    transform: translate(0, -7em);
}

.filtres ul{
    position: absolute;
    left: 10em;
    padding: .5em 1em;
    height: 3em;
    width: 8em;
    border-radius: .4em;
    background-color: #901C1C;
}


.filtres li{
    position: relative;
    padding: 1em .7em;
    list-style: none;
    color: white;
    background-color: #901C1C;
    cursor: pointer;
    user-select: none;
}

.filtres i{
    position: absolute;
    font-size: 1.3em;
    color: white;
    top: 1.2em;
    right: 1em;
    z-index: 1;
    transform: rotate(180deg);
    transition: transform .4s;
    cursor: pointer;
}

.photographies{
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em 7%;
}

.photographies div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #901C1C;
    font-size: 1.3em;
}

.photographies p{
    position: relative;
    top: .35em;
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 1em;
}

.photographies i{
    margin-left: .3em;
    cursor: pointer;
}

.photographies img, .photographies video{
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.fixedinfos{
    position: fixed;
    bottom: 0;
    right: 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13em;
    height: 3em;
    padding: 0 3em;
    font-size: 1.5em;
    background-color: #DB8876;
    border-radius: .3em .3em 0 0;
}

.fixedinfos i{
    margin-left: .5em;
}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: #FAFAFA;
    z-index: 3;
}

.lightbox .croix{
    position: fixed;
    top: .8em;
    right: 1.8em;
    font-size: 4em;
    color: #901C1C;
    cursor: pointer;
}

.lightbox .fa-angle-up{
    position: fixed;
    color: #901C1C;
    font-size: 4.1em;
    top: 50%;
    cursor: pointer;
}

.prevrow{
    transform: translate(0, -50%) rotate(-90deg);
    left: 15vw;
}

.nextrow{
    transform: translate(0, -50%) rotate(90deg);
    right: 15vw;
}

.mediabox{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 37vw;
    height: 37vw;
    transform: translate(-50%, -50%);
}

.mediabox img, .mediabox video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 920px){
    .photograph-header{
        font-size: 1.2em;
        flex-direction: column-reverse;
        height: 40em;
    }
    
    .photographer_section{
        text-align: center;
    }

    .photographies div{
        font-size: 1.1em;
    }
}