body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    font-size: 16px;
}


header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5.60em;
}

h1 {
    color: #901C1C;
    margin-right: 3.25em;
}

.logo {
    height: 3.12em;
    margin-left: 6.25em;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.37em;
    margin: 6.25em 0;
    text-align: center;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.25em;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 12.5em;
    width: 12.5em;
    object-fit: cover;
    border-radius: 100em;
}

.photographer_section article p{
    margin: 0em;
}

.location{
    color: #901C1C;
}

.price{
    color: #757575;
}

.categories{
    margin-top: .5em;
}

.categorie{
    margin: .3em .2em;
    padding: .2em .5em;
    font-size: 1em;
    color: #901C1C;
    background-color: white;
    border: solid .1em rgb(200, 200, 200);
    border-radius: 100em;
    transition: color .3s, background-color .3s, border-color .3s;
    cursor: pointer;
}

.activatetag{
    color: white;
    background-color: #901C1C;
    border-color: black;
}

@media screen and (max-width: 920px){
    body{
        font-size: 2vw;
    }
    .logo{
        margin-left: .8em;
    }
    h1{
        margin-right: 1em;
    }
    .photographer_section{
        grid-template-columns: 1fr 1fr;
    }
}